<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Settings</h1>
      </div>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>SMTP</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>SMTP SERVER</th>
              <th>SMTP PORT</th>
              <th>SMTP USERNAME</th>

              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>Email</td>
              <td>817</td>
              <td>ROOT</td>

              <td class="btn">
                <a href="" class="info">Modifier</a>
                <a href="" class="danger">Supprimer</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>SCHOOL</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>NOM DU SCHOLL</th>
              <th>URL LOGO</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>UIYA</td>
              <td>http:://logo.png</td>

              <td class="btn">
                <a href="" class="info">Modifier</a>
                <a href="" class="danger">Supprimer</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
