<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Gestion Carte Etudiante</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Carte Etudiante</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">List carte etudiante</a>
          </li>
        </ul>
      </div>
      <div class="btn">
        <a href="" class="info">+</a>
      </div>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Students</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>REFERENCE</th>
              <th>DATE EMMISION</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>RFE345678UJ</td>
              <td>09/02/2000</td>
              <td class="btn">
                <a href="" class="info">Modifier</a>
                <a href="" class="danger">Supprimer</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
