<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Gestion Teachers</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Teachers</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">List teachers</a>
          </li>
        </ul>
      </div>
      <div class="btn">
        <a href="" class="info">+</a>
      </div>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Teachers</h3>
        </div>
        <table>
          <thead>
            <tr>
              <td>ID</td>
              <th>NOM</th>
              <th>PRENOM</th>
              <th>PAYS</th>
              <th>SPECIALITE</th>
              <th>TELEPHONE</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>Yao</td>
              <td>YAnnick</td>
              <td>CIV</td>
              <td>JAVA</td>
              <td>0708827000</td>
              <td class="btn">
                <a href="" class="info">Modifier</a>
                <a href="" class="danger">Supprimer</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
