.btn {
  .info {
    background-color: #17b9d6;
    padding: 10px 30px;
    color: #111;
    border-radius: 10px;
    margin-right: 10px;
  }

  .danger {
    background-color: #d60f31;
    padding: 10px 30px;
    color: #111;
    border-radius: 10px;
    margin-right: 10px;
  }
}
